html, body, header, h1, h2, h3, blockquote, table, hnav, fnav, main, footer {
    margin: 0;
    padding: 0;
    border: 0;
}

title {
    text-align: center;
}

body {
    margin: 0;
	padding: 0;
	background-color: whitesmoke;
}

head {
text-align: center;
}

header {
font-weight: bold;
}

h1 {
	margin-right: 15%;
	font-weight: bold;
    font-size: 4em;
	color: skyblue;
}

h2 {
	font-weight: bold;
}

h3 {
	margin-right: 15%;
	font-weight: bold;
    font-size: 6em;
	color: white;
	text-align: center;
}

header  {
	min-height: 400px;
	background-image: url("../images/home_Beach.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 23%;
}

main {
	color: skyblue;
	font-weight: bold;
}

#container {
	padding: 5% 0;
    margin: 10px auto;
    width: 80%;
    min-height: 500px;
    font-size: 1.8em;
}

.hnav {
	display: inline-block;
	text-align: center;
	list-style: none;
	width: 100%;
	padding: 10px 0;
	margin: 0;
	background-color: skyblue;
	min-height: 50px;
    color: black;
	border: 0;
}

.hnav ul {
	margin: 0;
	padding: 10px 0 10px 0;
}

.hnav ul li {
	width: 15%;
	background-color: white;
	margin-top: .8%;
	color: lightskyblue;
    display: inline-block;
    list-style: none;
	text-align: center;
	margin-right: 15px;
	padding: 10px 0 10px 0;
}

.hnav a {
	color: lightskyblue;
	text-decoration: none;
	font-size: 1.5em;
}


nav a:hover {
	color: skyblue;
}

main p {
	font-size: 1em;
}

.fnav {
	text-align: center;
	display: inline-block;
    padding: 5px 0;
	width: 100%;
	background-color: skyblue;
	min-height: 50px;
    color: black;
}

.fnav ul {
	margin: 0;
	padding: 10px 0 10px 0;
}

.fnav ul li {
	width: 15%;
	background-color: white;
	margin-top: .8%;
	color: lightskyblue;
    display: inline-block;
    list-style: none;
	text-align: center;
	margin-right: 15px;
	padding: 10px 0 10px 0;
}

.fnav a {
	color: lightskyblue;
	text-decoration: none;
	font-size: 1.5em;
}

footer p {
	text-align: center;
	font-size: .8em;
	color: skyblue;
}