title {
    text-align: center;
}

body {
    margin: 0;
	padding: 0;
}

head {
text-align: center;
}

header {
font-weight: bold;
}

header img {
	min-height: 200px;
	max-width: 400px;
}

.hnav {
	display: block;
	text-align: center;
    padding: 0;
	margin: 0;
	width: 100%;
	background-color: skyblue;
	min-height: 50px;
    color: black;
}

.hnav ul {
	margin: 0;
	padding: 10px 0 10px 0;
}

.hnav ul li {
	list-style: none;
	width: 15%;
	background-color: white;
	margin-top: .8%;
}

.hnav a {
	color: lightskyblue;
	text-decoration: none;
	font-size: 1.5em;
}

blockquote {

}

table {

}

nav a:hover {
	color: skyblue;
}

main p {
	font-size: 1em;
}

.fnav {
	display: block;
    padding: 5px 0;
	width: 100%;
	background-color: skyblue;
	min-height: 50px;
    color: black;
}

.fnav ul {
	margin: 0;
	padding: 10px 0 10px 0;
}

.fnav ul li {
	text-align: center;
	list-style: none;
	width: 15%;
	background-color: white;
	margin-top: .8%;
}

.fnav a {
	color: lightskyblue;
	text-decoration: none;
	font-size: 1.5em;
}